.right {
	background:#009900 ;
	font-weight: bold; 
	border : 1px #009900 solid;
}
.wrong {
	background: #FF4136 ;
	font-weight: bold; 
	border : 1px #FF4136 solid;
}
.init {
	background: #f5f5f5 ;
	font-weight: bold; 
	border : 1px #000000 solid;
}